h1{
    text-align: center;
    font-size: 50px;
}

.buttonSearch{
	height: 50px;
	width: 80px;
	border-radius: 5px;
	cursor: pointer;
}

.input-search{
    height: 50px;
    margin-top: 10px;
	margin-left: 600px;
	width: 200px;
	padding-left: 4px;
	border-radius: 10px;
}


.container {
	padding: 40px;
	margin: 0 auto;
}

.img_Pokemon{
    display: flex;
    flex-direction: center;
}

.pokeapi1{
    margin-top: 40px;
    padding-left: 130px;
    background-color: #e6e0e0;
}

.pokeapi{
    margin-top: 40px;
    padding-left: 130px;
    margin-left: 580px;
    background-color: #abf68a;
    width: 212px;
    padding-bottom: 40px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.colorletter{
    padding-top: 20px;
}
